replicas: 1

image:
  repository: lannparty/k8s-cluster-update-controller
  tag: "latest"
  pullPolicy: Always

# How long to wait in seconds between each pod eviction.
evictionWaitTime: 5

# List of namespaces to check for stability after every cordon and eviction. Comma delimited list, no spaces. Ex: "ilmn-system,kube-system"
vitalNamespaces: "ilmn-system,kube-system"

# How long to wait between each vitalNamespaces validation.
validateWaitTime: 5

# The label to look for the nodes to be updated.
# For example in the case of AWS AMI updates, nodes on the cluster should be labeled with what image they're using. Ex: "image!=base-lin-blessed-k8s-1.15-debian-ami-20200130120615" << Nodes NOT desired image.
# Ignore masters. "kubernetes.io/role!=master" << Nodes NOT master.
# Multiple labels are comma separated.
targetLabels: "kubernetes.io/role!=master,image!=base-lin-blessed-k8s-1.15-debian-ami-20200130120615"

# Pod labels to exempt from evictions. Comma delimited list, no spaces. Ex: "app:nginx,app:backend"
exemptPodLabels: "k8s-app:kube-proxy"

# What to do if pdb is encountered during eviction. Skip will move on to the next pod, retry will loop indefinitely.
evictionStrategy: retry
